body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.search-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bus-details {
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-form button.edit-search {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button.edit-search:hover {
    background-color: #0056b3;
}

.bus-list {
    margin-top: 20px;
}

.sort-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.sort-options button {
    margin-left: 10px;
}

.bus-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bus-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bus-card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.bus-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.bus-card-actions button {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: 25px;
    margin-left: 50px;
}

.bus-card-actions button:hover {
    background-color: #0056b3;
}

.seatsLeft {
    color: green;
}

.no-bus {
    text-align: center;
    align-items: center;
    color: red;
}
