<nb-layout-column>
    <div class="booking-form">
        <h1>India's No. 1 Online Bus Ticket Booking Site</h1>

        <form>
            <nb-card>
                <nb-card-body>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="origin">Origin</label>
                            <input nbInput fullWidth id="origin" type="text" placeholder="Enter origin"
                                [formControl]="originControl" name="origin" [nbAutocomplete]="autoOrigin">
                            <nb-autocomplete #autoOrigin>
                                <nb-option *ngFor="let location of filteredOrigins | async" [value]="location">
                                    {{ location }}
                                </nb-option>
                            </nb-autocomplete>
                        </div>

                        <div class="swap-button">
                            <button nbButton status="info" shape="round" (click)="swapValues()">
                                <nb-icon icon="swap"></nb-icon>
                            </button>
                        </div>

                        <div class="form-group">
                            <label for="destination">Destination</label>
                            <input nbInput fullWidth id="destination" type="text" placeholder="Enter destination"
                                [formControl]="destinationControl" name="destination" [nbAutocomplete]="destSearch">
                            <nb-autocomplete #destSearch>
                                <nb-option *ngFor="let location of filteredDestinations | async" [value]="location">
                                    {{ location }}
                                </nb-option>
                            </nb-autocomplete>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="date">Date of Travel</label>
                            <input nbInput fullWidth id="date" placeholder="DD-MM-YYYY" [nbDatepicker]="datepicker"
                                [(ngModel)]="booking.date" name="date">
                            <nb-datepicker #datepicker format="dd-MM-yyyy" [min]="min"></nb-datepicker>
                        </div>

                        <div class="form-group">
                            <label for="passengers">Number of Passengers</label>
                            <input nbInput fullWidth id="passengers" type="number"
                                placeholder="Enter number of passengers" [(ngModel)]="booking.passengers"
                                name="passengers">
                        </div>
                    </div>

                    <div class="submit-button">
                        <button nbButton status="primary" fullWidth (click)="searchBus()">
                            <nb-icon icon="search"></nb-icon>SEARCH BUS
                        </button>
                    </div>
                </nb-card-body>
            </nb-card>
        </form>

        <nb-card>
            <nb-card-header>
                Recent Bookings
            </nb-card-header>
            <nb-card-body>
                <div class="recentBookings">
                    <div class="recentBooking" *ngFor="let journey of filteredJourneys">
                        <nb-card>
                            <nb-card-header class="journey-header">
                                <div class="journey-pnr">
                                    <span>Ticket No: {{ journey.ticketNo }}</span>
                                    <nb-icon icon="email-outline"></nb-icon>
                                </div>
                            </nb-card-header>
                            <nb-card-body>
                                <div class="journey-details">
                                    <p>{{ journey.origin }} - {{ journey.destination }}</p>
                                    <p>{{ journey.journeyDate }}</p>
                                </div>
                                <div class="journey-status">
                                    <span class="journey-status-label">STATUS:</span>
                                    <span
                                        [ngClass]="{'journey-status-value': true, 'booked': journey.ticketStatus === 'BOOKED', 'cancelled': journey.ticketStatus === 'CANCELLED'}">
                                        {{ journey.ticketStatus }}
                                    </span>
                                </div>

                                <div class="actionButtons">
                                    <button status="primary" (click)="viewTicket(journey.ticketNo)" nbButton outline size="small"><nb-icon
                                            icon="eye"></nb-icon></button>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</nb-layout-column>
