<div class="registration-container">
    <div class="registration-form">
        <!-- <div class="title">Register</div> -->
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <nb-card>
                <nb-card-body>
                    <nb-card-header>
                        <div class="title">Register</div>
                    </nb-card-header>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input nbInput fullWidth id="name" type="text" placeholder="Enter Name" formControlName="name">
                        <div *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched"
                            class="error">
                            <small *ngIf="registrationForm.get('name')?.errors?.['required']">Name is required.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input nbInput fullWidth id="email" type="email" placeholder="Enter Email"
                            formControlName="email">
                        <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched"
                            class="error">
                            <small *ngIf="registrationForm.get('email')?.errors?.['required']">Email is
                                required.</small>
                            <small *ngIf="registrationForm.get('email')?.errors?.['email']">Invalid email
                                format.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input nbInput fullWidth id="password" type="password" placeholder="Enter Password"
                            formControlName="password">
                        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched"
                            class="error">
                            <small *ngIf="registrationForm.get('password')?.errors?.['required']">Password is
                                required.</small>
                            <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at
                                least 6 characters.</small>
                        </div>
                    </div>

                    <div class="submit-button">

                        <button nbButton outline status="primary" fullWidth [disabled]="registrationForm.invalid">Register</button>
                    </div>

                    <div class="login-link">
                        Already have an account? <a href="#">Login here</a>
                    </div>
                </nb-card-body>
            </nb-card>
        </form>
    </div>
</div>
